@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$color-dark: #252525;
$color-grey: #666;
$color-green: #7BEFB2;
$color-pink: #D9879C;
$color-light: #fff;

html {
  font-size: 10px;
}
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $color-grey;
}
h1, h2, h3, h4 {
  color: $color-light;
}
h4 {
  font-weight: 400;
  margin-top: 0;
}
a {
  color: $color-grey;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $color-green;
}
img {
  background-size: cover;
  width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
